<h1>About México</h1>

<div class="classAbout">
  <div>
    <h2>Language:</h2>
    <p>Spanish</p>
    <img src="/images/spain.svg" />
  </div>

  <div>
    <h2>Capital:</h2>
    <p>México City</p>
    <img src="/images/mexicocity.jpeg" />
  </div>

  <div>
    <h2>Currency:</h2>
    <p>Mexicain pesos (1 dollar is around 20 pesos)</p>

    <img src="/images/pesos.jpeg" />
  </div>

  <div>
    <h2>States:</h2>
    <p>There are 32 states</p>
    <img src="/images/states.webp" />
  </div>

  <div class="weather">
    <h2>Weather:</h2>
    <p>México is a really big country. Depend of where you are, you can have
      different weather (hot in the coast and cold in the north, it is really
      rainny in the capital for exemple).</p>
    <img src="/images/weather.webp" />
  </div>

  <div>
    <h2>Food:</h2>
    <p>One of the most known speciality are the tacos</p>
    <img class="padding" src="/images/tacos.jpeg" />
  </div>

  <div>
    <h2>Music:</h2>
    <p>The mariachis are a group of mexican musician</p>
    <img class="padding" src="/images/mariachis.jpeg" />
  </div>

  <div class="muertos">
    <h2>Festivity:</h2>
    <p>One of the most known festivity is el dia de los muertos where we
      celebrate the dead people in a good way</p>
    <img class="paddind" src="/images/muertos.jpeg" />
  </div>

</div>