<h1>
  Gallery
</h1>

<div>
  <img src="/images/mexico1.jpeg" />
  <img src="/images/mexico2.jpeg" />
  <img src="/images/mexico3.jpeg" />
  <img src="/images/mexico5.jpeg" />
  <img src="/images/mexico4.webp" />

</div>