<h1>México</h1>
<div>
  <img class="header" src="/images/chichen.jpg" />
</div>

<div class="text">
  <h2>What to visit in México?</h2>
  <hr />
  <p>There is a lot cities to visit in México, every city will have its
    tradition, its food and landscape. When you want to visit México, you have
    to think of what kind of travel you are looking for.</p>

  <p>Also it will depend of the budget and duration of your travel. And to
    finish it will depend of what are you looking for.</p>
</div>