<h1>Itinerarie</h1>

<h2>Deux Semaines</h2>
<h3>YUCATAN</h3>
<ul class="itineraire">
  <li>Cancun, 1 jour</li>
  <li>Isla Holbox, 3 jours</li>
  <li>Valladolid, 2 jours</li>
  <li>Mérida, 2 jours</li>
  <li>Bacalar, 2 jours</li>
  <li>Tulum, 4 jours</li>
</ul>
<img src="/images/yucatan.png"></img>